<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/style.min.css">

        <title>台灣疫情</title>
    </head>
    <body>
        <div class="outerWrap" id="app">
            <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary bg-gradient">
                <div class="container">
                    <a class="navbar-brand text-uppercase" href="javascript:;"><span class="fw-bold">Covid-19</span> 台灣疫情地圖</a>
                    <div class="ms-auto d-flex">
                        <button class="btn btn-secondary" v-show="latestDate!==minDate" @click="changeDate(1)">←</button>
                        <input type="date" class="form-control form-control-sm" v-model.trim="latestDate" v-if="latestDate!==''" :max="maxDate" :min="minDate">
                        <button class="btn btn-secondary" v-show="latestDate!==maxDate" @click="changeDate(-1)">→</button>
                    </div>
                </div>
            </nav>

            <div class="container">
                <div class="text-center py-4">
                    <h1 class="fs-1 fw-bold mt-5 mb-3">台灣各縣市<br>每日新增確診圖表</h1>
                    <p class="text-muted">數據來源：<a class="text-white" href="https://www.cdc.gov.tw/" target="_blank">衛福部疾管署</a></p>
                </div>

                <div class="row mt-4 bg-border-full">
                    <div class="col-xl-4 col-12 mb-3">
                        <item-component title="累計確診(例)" :number="toCurrency(totalConfirmed)" :latest-date="latestDate"></item-component>
                    </div>
                    <div class="col-xl-4 col-12 mb-3">
                        <item-component title="當日新增確診(例)" :number="toCurrency(todayIncrease)" :latest-date="latestDate"></item-component>
                    </div>
                    <div class="col-xl-4 col-12 mb-3">
                        <item-component title="當日境外移入(例)" :number="toCurrency(todayOverseas)" :latest-date="latestDate"></item-component>
                    </div>
                </div>

                <div class="row py-5">
                    <div class="col-xl-4 col-12 my-4">
                        <h3 class="fs-5 mb-0 d-inline-block">累計確診排行</h3>
                        <span class="fs-6 text-muted d-inline-block ms-2">{{ latestDate }}</span>                        
                        <div class="list-group rounded-3 py-5 px-4 mt-3 bg-secondary bg-opacity-10">
                            <div v-for="city,index of cityOrderList" 
                                :key="city.id" 
                                class="list-group-item d-flex align-items-center border-0 rounded shadow-hover" 
                                :class="[index===0 ? 'bg-danger' : 
                                        index===1 ? 'bg-primary' : 
                                        index===2 ? 'bg-info' : 'bg-secondary',
                                        index!==0 ? 'mt-3' : '']">
                                <div class="me-3">
                                    <div class="icon icon-shape rounded-circle shadow-lg bg-gradient text-white" 
                                        :class="[index===0 ? 'bg-danger' : 
                                                index===1 ? 'bg-primary' : 
                                                index===2 ? 'bg-info' : 'bg-secondary']">
                                    {{ index+1 }}
                                    </div>
                                </div>
                                <div class="flex-fill">
                                    <div class="card-title fs-6 mb-0 text-white">{{ city.title }}</div>
                                    <p class="card-text fs-6 text-white opacity-75">確診人數 {{ toCurrency(city.num) }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-12 my-4">
                        <h3 class="fs-5 mb-0 d-inline-block">台灣縣市疫情地圖</h3>
                        <span class="fs-6 text-muted d-inline-block ms-2">{{ latestDate }}</span>
                        <div class="text-center rounded-3 py-5 px-4 mt-3 bg-secondary bg-opacity-10">
                            <div class="map d-inline-block">
                                <img src="img/map.png" alt="台灣地圖" class="w-auto mw-100">
                                <ul class="mapTargetList">
                                    <li v-for="city,index of cityConfirmedList" 
                                        :key="city.title" 
                                        class="text-nowrap fs-6" 
                                        :class="'mapTarget'+index">
                                        {{ city.title }}
                                        <span class="d-block rounded-3 text-white" 
                                            :class="[city.num>=1000 ? 'bg-danger' : 
                                                    city.num>=100 ? 'bg-primary' : 'bg-secondary']">
                                            {{ toCurrency(city.num) }}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="py-5">
                    <h3 class="fs-4 text-center mb-3">每日疫情統計圖 ( 近 {{ chartNum }} 日 )</h3>
                    <div class="py-5 px-4 border border-4 border-secondary rounded-3 bg-secondary bg-opacity-10 shadow-hover">
                        <canvas id="dateChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            Vue.component('item-component',{
                props: {
                    title: {
                        type: String,
                        required: true
                    },
                    number: {
                        type: String,
                        required: true
                    },
                    latestDate: {
                        type: String,
                        required: true
                    },
                },
                template: `
                    <div class="card card-hover border border-4 border-primary rounded-3 shadow-lg bg-dark">
                        <div class="card-body">
                            <div class="row">
                                <div class="col text-center">
                                    <div class="card-title fs-5 mb-2">{{ title }}</div>
                                    <div class="card-subtitle fs-1 fw-bold text-danger mb-2">{{ number }}</div>
                                    <p class="card-text fs-6 text-muted">{{ latestDate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                `,
            })
            new Vue({
                el: '#app',
                data: {
                    dataList: [],
                    taiwanList: ['境外移入','台北市','新北市','基隆市','宜蘭縣','桃園市','新竹市','新竹縣','苗栗縣','台中市','彰化縣','南投縣','雲林縣','嘉義市','嘉義縣','台南市','高雄市','屏東縣','花蓮縣','台東縣','澎湖縣','連江縣','金門縣'],
                    latestDate: '',
                    maxDate: '',
                    minDate: '',
                    chartNum: 10
                },
                computed: {
                    dateList(){
                        const obj = {
                            sort: [],
                            map: {}
                        }
                        this.dataList.forEach(({ id, date, city, town, gender, overseas, agegroup }) => {
                            if(!obj.map[date]) {
                                obj.sort.push(date)
                                obj.map[date] = {
                                    sort: [],
                                    map: {}
                                }
                            }

                            obj.map[date].sort.push(id)
                            obj.map[date].map[id] = { city, town, gender, overseas, agegroup }
                        })
                        console.table(obj)
                        return obj
                    },
                    totalConfirmed(){
                        return this.dataList.filter(({ date }) => date <= this.latestDate).length
                    },
                    todayIncrease(){
                        const obj = this.dateList.map[this.latestDate]
                        if(obj) return obj.sort.length
                        else return 0
                    },
                    todayOverseas(){
                        const obj = this.dateList.map[this.latestDate]
                        if(obj) return obj.sort.filter(item => obj.map[item].overseas).length
                        else return 0
                    },
                    cityList(){
                        const obj = {
                            sort: this.taiwanList,
                            map: {}
                        }
                        obj.sort.forEach(city => {
                            obj.map[city] = {
                                sort: [],
                                map: {}
                            }
                        })
                        this.dataList.forEach(({ id, date, city, town, gender, overseas, agegroup })=>{
                            obj.map[city].sort.push(id)
                            obj.map[city].map[id] = { date, town, gender, overseas, agegroup }
                        })
                        
                        return obj
                    },
                    cityConfirmedList(){
                        const filterList = this.cityList.sort
                                        .map(item => {
                                            const obj = this.cityList.map[item]
                                            const arr = obj.sort.filter(item2 => obj.map[item2].date<=this.latestDate)
                                            return {
                                                title: item,
                                                num: arr.length
                                            }
                                        })
                        return filterList
                    },
                    cityOrderList(){
                        const filterList = this.cityConfirmedList
                                        .filter((item,idx) => idx !== 0)
                                        .sort((a,b) => b.num - a.num)
                                        .slice(0, 4)
                        return filterList
                    }
                },
                methods: {                    
                    getData(){
                        const vm = this
                        const api = 'covid19.json'

                        const xmlhttp = new XMLHttpRequest()
                        xmlhttp.onload = function() {
                            const response = JSON.parse(this.responseText)
                            // 資料整理
                            vm.dataList = response.map(({id, a02, a03, a04, a05, a06, a07}) => {
                                return {
                                    id: id,
                                    date: a02,
                                    city: a03,
                                    town: a04==='空值' ? '' : a04,
                                    gender: a05,
                                    overseas: a06==='是' ? true : false,
                                    agegroup: a07
                                }
                            })
                            // 最新日期
                            vm.minDate = vm.dataList[vm.dataList.length-1].date
                            vm.maxDate = vm.dataList[0].date
                            vm.latestDate = vm.maxDate
                        }
                        xmlhttp.open("GET", api)
                        xmlhttp.send()

                    },
                    changeDate(change){
                        // 切換日期
                        const dateArr = this.dateList.sort
                        let idx = (dateArr.indexOf(this.latestDate) + change + dateArr.length) % dateArr.length
                        this.latestDate = dateArr[idx]
                    },
                    toCurrency(value){
                        // 轉換數字成含千分位的文字
                        let parts = value.toString().split('.');
                        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                        return parts.join('.');
                    },
                    setChart(){
                        const labels = this.dateList.sort
                                    .filter(date => date <= this.latestDate)
                                    .slice(0, this.chartNum)
                                    .reverse()

                        const nums = []
                        const nums2 = []
                        const nums3 = []
                        labels.forEach(date => {
                            const num = this.dateList.map[date].sort.length
                            nums.push(num)

                            const num2 = this.dateList.map[date].sort.filter(item => this.dateList.map[date].map[item].overseas).length
                            nums2.push(num2)

                            const num3 = this.dateList.map[date].sort.filter(item => !this.dateList.map[date].map[item].overseas).length
                            nums3.push(num3)
                        })

                        const data = {
                            labels: labels,
                            datasets: [
                                {
                                    type: 'line',
                                    label: '當日總確診人數',
                                    backgroundColor: '#e8537a',
                                    borderColor: '#e8537a',
                                    data: nums
                                },
                                {
                                    type: 'line',
                                    label: '當日境外移入',
                                    backgroundColor: '#6366e0',
                                    borderColor: '#6366e0',
                                    data: nums2
                                },
                                {
                                    type: 'line',
                                    label: '當日本土新增',
                                    backgroundColor: '#ebcd71',
                                    borderColor: '#ebcd71',
                                    data: nums3
                                }
                            ]
                        }
                    
                        const config = {
                            type: 'line',
                            data: data,
                            options: {}
                        }
                        
                        const dateChart = new Chart(
                            document.getElementById('dateChart'),
                            config
                        )
                    }
                },
                mounted() {
                    // 載入資料
                    this.getData()
                },
                updated() {
                    // 統計圖表
                    this.setChart()
                }
            })
        </script>
    </body>
</html>